<!-- Barra de Navegación -->
<nav class="navbar bg-dark border-bottom border-bottom-dark" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" >MI PÁGINA WEB - DIEGO DPC</a>
    
    <!-- Boton de Opciones -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    
    <!-- Cada Link button -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#Biografía:">Mi Biografía</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#Estudios:">Mis Estudios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#Mis Pasatiempos:">Mis Pasatiempos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#MIS REDES SOCIALES">Mis Redes</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Imagen con URL -->
<img jsname="OX8uie" src="https://lh3.googleusercontent.com/a/AAcHTtcpeA3vpf58AwlwiFbXPj6VPqM_TripgDsZzZQd=s288-c-no" alt="Tu foto de perfil" class="EEKrSc xUNOSc" jsaction="click:pLamw" data-iml="493488.39999997616" jslog="95413; track:click,impression" data-atf="true">


<!-- Container1 -->
<div class="card">
  <section class="Biografía:" id="Biografía:"></section>
  <div class="card-body">
    <h4 class="card-title">Biografía:</h4>
    <p class="card-text">Me llamo Diego Andres Del Pezo Cruz, Nací en Machala el 14 de Junio de 1999</p>
    <p class="card-text">tengo 23 años y vivo en Machala.</p>
    <a href="https://es.wikipedia.org/wiki/Machala" class="btn btn-primary" target="_blank">Ver Ciudad</a>
    
  </div>
</div>

<!-- Container2 -->
<div class="card">
  <section class="Estudios:" id="Estudios:"></section>

  <div class="card-body">
    <h4 class="card-title">Estudios:</h4>
    <p class="card-text">En la primaria estudié en la escuela particular "Espíritu Santo"</p>
    <p class="card-text">y me gradué en el colegio secundario "Julio María Matovelle" en Puerto Bolívar.</p>
    <a href="https://es.wikipedia.org/wiki/Puerto_Bol%C3%ADvar_%28Ecuador%29" class="btn btn-primary" target="_blank">Ver Parroquia</a>
  </div>
</div>

<!-- Container3 -->
<div class="card">
  <section class="Mis Pasatiempos:" id="Mis Pasatiempos:"></section>

  <div class="card-body">
    <h4 class="card-title">Mis Pasatiempos:</h4>
    <p class="card-text">En mis pasatiempos salgo a jugar futbol con mis amigos o primos</p>
    <p class="card-text">Me gusta ver televisión y escuchar la mayoría del tiempo Música</p>
    <p class="card-text">Tambien me gusta conocer nuevos lugares y siempre que se puede salgo de viaje.</p>
  
  </div>
</div>

<!-- Pie de Página -->
<footer>
  <section class="MIS REDES SOCIALES" id="MIS REDES SOCIALES"></section>
  <h3>MIS REDES SOCIALES</h3>

  <!-- buttons Link -->
  <a href="http://www.facebook.com" class=" btn btn-primary btn-lg"  target="_blank">Facebook</a>
  <a href="http://www.twitter.com" class="btn btn-info btn-lg" target="_blank">Twitter</a>
  <a href="http://www.youtube.com" class="btn btn-danger btn-lg" target="_blank">Youtube</a>

</footer>
